<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Infinite Reddit</title>
	<meta name="description" content="The scroll is with you, young lurker.">
	<link rel="stylesheet" href="./bower_components/twitter/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./bower_components/twitter/dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="./index.css" />
	<link rel="icon" href="//www.redditstatic.com/icon.png" sizes="256x256" type="image/png">
</head>
<body>
	<img src="//www.redditstatic.com/icon.png" style="display:none;" />
	<div class="container"
	<section ng-app="app" ng-controller="AppController">
		<div class="container">
			<h1>Infinite Scrolling Demo (reddit.com)</h1>
			<div class="media" infinite-scroll="reddit.nextPage()" infinite-scroll-disabled="reddit.busy" infinite-scroll-distance="1">
				<input type="text" class="form-control reddit-input-group" placeholder="search" ng-model="search">
				<div class="reddit-post" ng-repeat="item in reddit.items | filter:search">
					<span class="pull-left" href="#">{{item.score}}</span>
					<span class="pull-left" href="#">
						<img class="media-object reddit-thumbnail" src="{{item.thumbnail}}" />
					</span>
					<div class="media-body">
						<h4 class="media-heading"><a href="{{item.url}}">{{item.title}}</a></h4>
						by {{item.author}} - {{item.num_comments}} comments
					</div>
				</div>
				<div ng-show="reddit.busy">
					<div class="reddit-post">
						<span class="pull-left" href="#">000</span>
						<span class="pull-left" href="#">
							<img class="media-object reddit-thumbnail" src="{{item.thumbnail}}" />
						</span>
						<div class="media-body">
							<h4 class="media-heading"><a href="{{item.url}}">Loading reddits...</a></h4>
							by develop - 0 comments
						</div>
					</div>
				</div>
				<center>
					<span class="glyphicon glyphicon-chevron-down reddit-puller"></span><br />
					<span class="glyphicon glyphicon-chevron-down reddit-puller-lt"></span><br />
				</center>
			</div>
		</div>
	</section>
	<script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script src="./bower_components/twitter/dist/js/bootstrap.min.js"></script>
	<script src="./bower_components/angular/angular.min.js"></script>
	<script src="./bower_components/nginfinitescroll/build/ng-infinite-scroll.min.js"></script>
	<script src="./index.js"></script>
</body>
</html>
