.reddit-post {
	margin-bottom: 16px;
	min-height: 64px;
}

.reddit-post > span {
	margin-right: 10px;
	min-width: 32px;
	font-weight: bold;
	color: grey;
}

.reddit-thumbnail {
	min-width:64px;
	max-width:64px;
}

.reddit-input-group {
	margin-bottom: 20px;
}

.reddit-puller,
.reddit-puller-lt {
	font-size:40px;
	opacity:.5;
	font-weight:100;
}

.reddit-puller-lt {
	opacity:.2;
}

h1 {
	font-size: 30px;
}